<!-- 
  Universidad de La Laguna
  Escuela Superior de Ingeniería y Tecnología
  Grado en Ingeniería Informática
  Asignatura: Programación de Aplicaciones Interactivas
  
  @author Sara Darias Sánchez
  @date 02/04/2025
  @description  This is the HTML file for the list component. 
  It includes the main.tsx file, which is the entry point for 
  the React application. The main.tsx file will render the list 
  component into the root div element.
 
 -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script type="module" defer src="/src/main.tsx"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
